/*------------
    RESET
------------*/

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------
    COMMON
------------*/

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

section{
    padding-top: 150px;
}

a{
    color: white;
    text-decoration: none;
}


.shopping-box{
    position: relative;
    width: 33.33%;
    padding: 10px;
    height: 700px;
    margin-bottom: 40px;
}

.dress-photo img{
    width: 100%;
    height: 640px;
    position: relative;
}

.inside-box{
    position: absolute;
    color: white;
    padding: 4px 4px;
}

.sostenibile{
    background-color: green;

}

.bottom{
    top: 580px;
}

.sliglty-left{
    left: 58px;
}

.sconto{
    background-color: red;
}

.nav ul, .impostazioni ul, .footer-site ul, .social ul{
    display: flex;
    list-style-type: none;
}

.nav li, .impostazioni li{
    font-size: 20px;
    margin: 0 6px;
}



/*------------
    HEADER
------------*/

.row{
    display: flex;
    justify-content: space-between;
}

header{
    color: white;
    background-color: #FF6900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 70px;
    width: 100%;
    margin-bottom: 90px;
    position: fixed;
    z-index: 1;
}

header .row{
    align-items: center;
    height: 100%;
}

.logo{
    text-align: center;
    width: 60%;
}

.logo img{
    height: 40px;
}

.nav, .impostazioni{
    width: 20%;
}

.impostazioni{
    display: flex;
    justify-content: flex-end;
}

/*------------
    MAIN
------------*/

.scontato{
    color: red;
    font-weight: 700;
}

.prezzo{
    margin-left: 6px;
    text-decoration: line-through;
    font-weight: 400;
}

.descrizione{
    margin-top: 6px;
}

.heart-position{
    position: absolute;
    padding: 10px;
    background-color: white;
    bottom: 600px;
    left: 418px;
}

.heart-position:hover{
    color: red;
}

/*------------
    IMMAGINI
------------*/

.dress-photo{
    display: inline-block;
}

.over{
    display: none;
}

.dress-photo:hover .default{
    display: none;
}

.dress-photo:hover .over{
    display: block;
}

/*------------
    FOOTER
------------*/

footer{
    margin-top: 100px;
    color: white;
    background-color: #23272a;
}

.footer-site h5{    
    font-size: 24px;
}

.footer-site li{
    margin-top: 10px;
    padding-right: 16px;
}

  
.footer{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.social li{
    padding-top: 6px;
    padding-right: 10px;
}

.social{
    font-size: 18px;
}

